In [1]:
a=2

In [2]:
b=3

In [3]:
if 3>2
a=3

SyntaxError: invalid syntax (<ipython-input-3-5dfbf9491f44>, line 1)

In [9]:
if 3 > 2:
x =3
else:
x = 5

IndentationError: expected an indented block (<ipython-input-9-de645b78446d>, line 2)

In [10]:
if a == 2:
    print("a itu 2")
else:
    print("a itu bukan2")

a itu 2

In [13]:
if a / 2:
    print("Berhasil")
else:
    print("Gagal")

Berhasil

In [14]:
a=2
b=3
if a<= 3:
    print("benar")
else:
    print("salah")

benar

In [16]:
c=2
d=3
if c==2:
    print("Nilai C =2")
    if d==2:
        print("Nilai D = 2")
    else:
        print("Nilai D != 2")
else:
    print("Nilai C bukan 2")

Nilai C =2
Nilai D != 2

In [29]:
kota = "jakarta"

In [32]:
if kota == "jakarta": #lat 1
    print("saya tinggal di jakarta")
else:
    print("saya tinggal bukan di jakarta")

saya tinggal di jakarta

In [33]:
kota = "jakarta"
if kota == "jakarta": #lat 1
    print("saya tinggal di jakarta")
else:
    print("saya tinggal bukan di jakarta")

saya tinggal di jakarta

In [52]:
penghasilan = 50_000_000

In [44]:
penghasilan = 30_000_000 #lat2
if penghasilan >= 50_000_000:
    print("Harus Bayar Pajak 20%")
elif penghasilan >= 30_000_000 and penghasilan < 50_000_000:
    print("Harus Bayar Pajak 15%")
elif penghasilan <= 30_000_000:
    print("Harus Bayar Pajak 10%")
else:
    print("Maaf masukkan penghasilan dengan benar")

Harus Bayar Pajak 15%

In [56]:
kota = "jakarta"
penghasilan = 34_000_000
if kota == "jakarta" and penghasilan > 50_000_000:
    print("Saya bayar pajak 20% di " + kota)
elif kota == "jakarta" and 30_000_000 < penghasilan <= 50_000_000:
    print("Saya bayar pajak 15% di " + kota)
elif kota != "jakarta" and penghasilan > 50_000_000:
    print("Saya bayar pajak 18% ")
elif kota != "jakarta" and 30_000_000 < penghasilan <= 50_000_000:
    print (" Saya bayar pajak 10%")
else:
    print ("bayar pajak 5%")

Saya bayar pajak 15% di jakarta

In [61]:
string1 ="vwx"

In [62]:
string2 ="abc"

string = "abcde"

In [63]:
a=2

In [64]:
kota ="-----,,,,//....jakar---__aa"

In [65]:
x = kota

In [70]:
n = 2 #modulo %
while n > 0:
    n += 1
    if n % 2 != 0:
        break
        print(n)
        print("selesai")

In [67]:
30 % 2

0

In [68]:
29 % 2

1

In [77]:
n = 101 # modulo %
while n > 0:
    n -= 1
    if n % 2 != 0:
        break
        print(n)
        print("selesai")

In [78]:
30/2

15.0

In [85]:
x = 101 # modulo %
while x > 0:
    x -= 1
    if x % 2 > 0:
        print(x)

99
97
95
93
91
89
87
85
83
81
79
77
75
73
71
69
67
65
63
61
59
57
55
53
51
49
47
45
43
41
39
37
35
33
31
29
27
25
23
21
19
17
15
13
11
9
7
5
3
1

In [83]:
n = 101
while n > 0:
    n -= 1
    if n % 2 > 0:
        print(n)

99
97
95
93
91
89
87
85
83
81
79
77
75
73
71
69
67
65
63
61
59
57
55
53
51
49
47
45
43
41
39
37
35
33
31
29
27
25
23
21
19
17
15
13
11
9
7
5
3
1

In [94]:
x = 101 # modulo %
while x > 0:
    x -= 1
    if x % 2 > 0:
        print(x)
    elif x>=40 and x<60 and x % 2 ==0:
        print(x)

99
97
95
93
91
89
87
85
83
81
79
77
75
73
71
69
67
65
63
61
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
37
35
33
31
29
27
25
23
21
19
17
15
13
11
9
7
5
3
1

In [107]:
x = 101 # modulo %
while x > 0:
    x -= 1
    if x % 2 != 0:
        print(x)
    elif x>=40 and x<=60 and x % 2 ==0:
        print(x)
  #  else:
   #     print("x")

99
97
95
93
91
89
87
85
83
81
79
77
75
73
71
69
67
65
63
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
37
35
33
31
29
27
25
23
21
19
17
15
13
11
9
7
5
3
1

In [111]:
n = 0
while n <101 :
    n += 1
    if n > 40 and n < 60:
        if n % 2 == 0:
            print(n)
    else:
        if n % 2 != 0:
            print(n)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
42
44
46
48
50
52
54
56
58
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
101